<div class="modal-header">
	<button ng-click="cancelar()" type="button" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">Registro de usos</h4>
</div>
<div class="modal-body">
	<div ng-show="error" class="alert alert-danger" role="alert">
		<strong>Error!</strong> {{mensajeError}}
	</div>
	<div class="row">						
		<div id="cantidadUsos" class="col-xs-3 input-inline">
			<input ng-model="uso.cantidad" type="text" class="form-control" placeholder="Ej. 1.12">
		</div>	
		
		<div id="enfermedadUsos" class="col-xs-4 input-inline">
			<select ng-options="enfermedad.nombre for enfermedad in enfermedades" ng-model="uso.enfermedad" class="form-control">
				<option value="">-- Enfermedad --</option>				
			</select>							
		</div>
		<div id="especieUsos" class="col-xs-4 input-inline">
			<select ng-options="especie.nombre for especie in especies" ng-model="uso.especie" class="form-control">
				<option value="">-- Especie --</option>				
			</select>							
		</div>
		<div class="col-xs-1 input-inline">							
			<button ng-click="agregarUso()" class="btn btn-success">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<hr>
	<div class="table-responsive">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>CANTIDAD</th>
					<th>ENFERMEDAD</th>
					<th>ESPECIE</th>									
					<th>ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="usos.length <= 0">
					<td colspan="5">No existen registros</td>
				</tr>
				<tr ng-repeat="uso in usos">
					<td class="col-xs-3">
						<input ng-model="uso.cantidad" type="text" class="form-control input-sm" placeholder="Ej. 1.12">						
					</td>
					<td class="col-xs-4">
						<select ng-options="enfermedad.nombre for enfermedad in enfermedades track by enfermedad.id" ng-model="uso.enfermedad" class="form-control input-sm">							
						</select>						
					</td>
					<td class="col-xs-4">
						<select ng-options="especie.nombre for especie in especies track by especie.id" ng-model="uso.especie" class="form-control input-sm">
							<option ng-repeat="especie in especies" value="{{especie.id}}">{{especie.nombre}}</option>
						</select>						
					</td>									
					<td class="col-xs-1">										
						<button ng-click="eliminarUso($index)" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>
				</tr>								
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button ng-click="cancelar()" type="button" class="btn btn-default">Cancelar</button>
	<button ng-click="ok()" type="button" class="btn btn-primary">Aceptar</button>
</div>