<div class="modal-header">
	<button ng-click="cancelar()" type="button" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="myModalLabel">Detalle de venta</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-6"><strong>Cliente: </strong> {{venta.cliente.nombre_completo}}</div>
		<div class="col-xs-6"><strong>Asociacion: </strong> {{venta.asociacion.nombre}}</div>
	</div>
	<div class="row">
		<div class="col-xs-6"><strong>Fecha: </strong> {{venta.fecha}}</div>
		<div class="col-xs-6"><strong>Total Venta: </strong> {{venta.valor_total}}</div>
	</div>
	<hr>

	<div class="table-responsive">
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>Cant.</th>
					<th>Producto</th>
					<th>P. Unit.</th>
					<th>V. Tot.</th>
					<th>USOS</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="detalle in venta.detalles">
					<td>{{detalle.cantidad}}</td>
					<td>{{detalle.producto.nombre}} - {{detalle.producto.presentacion}}</td>
					<td>{{detalle.precio_unitario}}</td>
					<td>{{detalle.precio_total}}</td>
					<td>
						<span ng-repeat="uso in detalle.usos">
							> {{uso.cantidad}} - {{uso.enfermedad.nombre}} - {{uso.especie.nombre}}
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">	
	<button ng-click="cancelar()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
</div>
