<div ng-controller="ComprasController">
	<fieldset>
		<legend>Administración de compras</legend>		
		<a href="/#compras/crear" class="btn btn-success">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
		</a>
		<hr>
		<div class="table-responsive">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>Asociación</th>
						<th>Compra #</th>
						<th>Fecha</th>					
						<th>Valor</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-hide="compras"><td colspan="5">No existen registros</td></tr>
					<tr ng-repeat="compra in compras">
						<td>{{compra.asociacion.nombre}}</td>
						<td>{{compra.id}}</td>
						<td>{{compra.fecha}}</td>					
						<td>{{compra.valor_total}}</td>
						<td>
							<button ng-click="ver($index)" class="btn btn-primary btn-sm" title="Ver">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</fieldset>
</div>