<div ng-controller="VentaController">
	<form class="form-horizontal">
  		<fieldset>
    		<legend>Registro de ventas</legend>
			<div class="panel panel-default">
  				<div class="panel-body">
    				<asociacion-list></asociacion-list>	
				    <div class="form-group">
				      	<label for="sltCliente" class="control-label col-md-2">Cliente</label>				      	
				      	<div class="col-md-3">
				        	<div class="input-group">    					  
      							<input ng-keyup="abrirDialog()" type="text" class="form-control" placeholder="Cédula" value="{{ventaActual.cliente.cedula}}">
      							<span class="input-group-btn">
	      							<button  class="btn btn-success" title="Buscar" data-toggle="modal" data-target="#dlgBuscarCliente">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</button>
      							</span>
    						</div>				        	
				      	</div>
				      	<div class="col-md-5">
				        	<input type="text" class="form-control" placeholder="Nombre" 
				        		value="{{ventaActual.cliente.nombreCompleto}}" readonly>
				      	</div>
				    </div>	
				    
				    <div class="form-group">
				      	<label for="calFecha" class="control-label col-md-2">Fecha</label>
				      	<div class="col-md-8">
				      		<input type="date" class="form-control">
				      	</div>
				    </div>	
  				</div>
			</div>    		

			<div class="panel panel-default">
  				<div class="panel-body">
  					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#dlgDetalleVenta">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar
					</button>
					<hr>
  					<div class="table-responsive">
						<table class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Cantidad</th>
									<th>Producto</th>
									<th>Valor Unitario</th>
									<th>Valor Total</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="5">No existen registros</td>
								</tr>
							</tbody>
						</table>
					</div>
			    </div>				    
			</div> 		    
  		</fieldset>
	</form>

	<!-- Dialogos -->

	<buscarcliente-dialog name="dlgBuscarCliente"></buscarcliente-dialog>
	

	<div class="modal fade" id="dlgDetalleVenta">
	 	<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Nuevo detalle de venta</h4>
				</div>
				<div class="modal-body">					
					<fieldset>
						<legend>Detalle de venta</legend>
							<div class="form-inline">
							<div class="form-group">
								<label class="sr-only" for="txtCantidad">Cantidad</label>
								<input ng-model="detalleVentaActual.cantidad" ng-keyup="calcularTotal()" type="text" class="form-control" id="txtCantidad" placeholder="Cantidad">
							</div>
							<div class="form-group">
								<label class="sr-only" for="txtProducto">Producto</label>
								<div class="busqueda-producto-container">									
									<input ng-model="detalleVentaActual.nombreProducto" ng-keyup="buscarProductos()" type="text" class="form-control" id="txtProducto" placeholder="Producto">
									<div ng-show="productos.length > 0" class="list-group busqueda-producto-lista">
										<a ng-repeat="producto in productos" ng-click="seleccionarProducto(producto)" class="list-group-item">{{producto.nombre}} - {{producto.precio_referencial}}</a>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="sr-only" for="txtValorUnitario">Valor unitario</label>
								<input ng-model="detalleVentaActual.valorUnitario" ng-keyup="calcularTotal()" type="text" class="form-control" id="txtValorUnitario" placeholder="Valor unitario">
							</div>
							<div class="form-group">
								<label class="sr-only" for="txtValorTotal">Valor total</label>
								<input ng-model="detalleVentaActual.valorTotal" type="text" class="form-control" id="txtValorTotal" placeholder="Valor total" readonly>
							</div>
						</div>
					</fieldset>
					
					<fieldset>
						<legend>Usos</legend>
					</fieldset>					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button ng-click="guardarCliente()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
</div> 